<div class="container-fluid body">
  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8 show-item">
      <%= render "item" %>
      <p><%= link_to "Back", inspirations_path %></p>
    </div>

    <div class="col-md-2"></div>
  </div>
</div>